In [1]:
# iterable means you can iterate over an object.

In [3]:
my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [8]:
mylist = [1,2,3,4,5,6,7,8,9,10]
for numbers in mylist:
    print(numbers)

1
2
3
4
5
6
7
8
9
10

In [10]:
for numbers in mylist:
    # Check for even numbers 
    if numbers % 2 == 0:
        print(numbers)
    else:
        print(f'Odd Number: {numbers}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [16]:
list_sum = 0 

for numbers in mylist:
    list_sum = list_sum + numbers
print(list_sum)

55

In [17]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [19]:
t = (1,2,3)

for item in t:
    print(item)

1
2
3

In [20]:
mylist = [(1,2), (3,4), (5,6), (7,8)]

In [21]:
len(mylist)

4

In [23]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [24]:
mylist = [(1,2,3), (4,5,6), (7,8,9), (10,11,12)]
for a,b,c in mylist:
    print(a)
    print(b)
    print(c)

1
2
3
4
5
6
7
8
9
10
11
12

In [27]:
d = {'k1':1, 'k2':2, 'k3':3}
for key,value in d.items():
    print(value)

1
2
3

In [32]:
mylist = [(1,2,3), (4,5,6), (7,8,9), (10,11,12)]
for a,b,c in mylist:
    if a or b or c % 3 == 0:
        print(a) + print(b)
    else:
        print(f'Not divisible by 3: {numbers}')

1
4
7
10