In [1]:
mystring = 'Hello'

mylist = []

for letter in mystring:
    mylist.append(letter)

In [2]:
mylist

['H', 'e', 'l', 'l', 'o']

In [3]:
mystring = 'Hello'

mylist = [letter for letter in mystring]

In [4]:
mylist

['H', 'e', 'l', 'l', 'o']

In [7]:
mylist = [qweqwe for qweqwe in 'word']
mylist
#what you put as that element before and after the 'for' really doesn't matter as long as it matches.

['w', 'o', 'r', 'd']

In [12]:
mylist = [x**2 for x in range(0,11)]
#you can also put operations on the first element. This is a flattened for loop. You can also add if statements.

In [11]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
mylist = [x**2 for x in range(0,11) if x%2 == 0]

In [19]:
mylist

[0, 4, 16, 36, 64, 100]

In [23]:
celsius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp + 32) for temp in celsius]

In [24]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [25]:
fahrenheit = []

for temp in celsius:
    fahrenheit.append((9/5)*temp + 32)

In [26]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [27]:
results = [x if x%2 == 0 else 'ODD' for x in range(0,11)]

In [28]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [32]:
results = []

for num in range(0,11):
    if num%2 == 0:
        results.append(num)
    else:
        results.append('ODD')